@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

#header{
	color:#808080;
	background-color:#e4f0fc;
	position: relative;		/* 絶対位置指定することを定義 */
	padding: 2px 0px;          /* 上下に余白を取る */
	border: 5px solid #fff; /* 表示領域を白枠で囲う */
	height: 40px;          /* 縦幅の指定40px */
	width: 100%;           /* 横の幅97% */
	margin: auto;           /* 中央揃え */
}




body{
	font-family: "Noto Sans JP";
	margin-right:auto;
	margin-left:auto;
	padding:0px 8em ;
}


#menu{
	padding-bottom: .5em;
  	border-bottom: 1px solid #ccc;
}


#logintable{
    padding: 2em 2em;
    margin: 5em 0;
    font-weight: bold;
    color: #808080;/*文字色*/
    background: #FFF;
    border: 10px double #e4f0fc;/*線*/
    border-radius: 5px;/*角の丸み*/

}


#menutable{
    padding: 2em 15em;
    margin: 2em 0;
    font-weight: bold;
    color: #808080;/*文字色*/
    background: #FFF;
    border: 10px double #e4f0fc;/*線*/
    border-radius: 5px;/*角の丸み*/

}


#employeetable{
	padding: 2em 5em;
    margin: 2em 0;
    font-weight: bold;
    color: #808080;/*文字色*/
    background: #FFF;
    border: 10px double #e4f0fc;/*線*/
    border-radius: 5px;/*角の丸み*/

}

#tablestyle{
	border-collapse: collapse;
}


#employeetable th, #employeetable td{
	border: 1px #808080 solid;
}


#scroll{
	overflow-y: scroll;
	width:900px;
	height:180px;
}


input[type="submit"] {
   display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
    background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
    transition: .4s;
    margin: 0.5em 0 0;

}

input[type="submit"] {
	background-image: -webkit-linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
    background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
}


footer{

	background-color: #c0c0c0;   /* 背景色 */
	position:fixed;       /* 絶対位置指定することを定義 */
	bottom: 0px;              /* 絶対位置指定(左0px,下0px) */
	padding:10px 0;          /* 上下に余白を取る */
	border: 5px solid #fff; /* 表示領域を白枠で囲う */
	height: 15px;          /* 縦幅の指定15px */
	width: 81%;           /* 横の幅97% */
	margin-bottom: 0;
	margin-left:0.2em;
	margin-right:-6em;     /* 中央揃え */
}
